@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

html, body {
  height: 100%;
  margin: 0; 
  padding: 0; 
}

.full-page {
    display: flex;
    height: 100%;
   
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    width: 40%;

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    margin-top: 25%;
}

img {
    height: 8rem;
    width: auto;
}

.logo-title {
    font-family: 'Norse-Bold', sans-serif;
    font-size: 5rem;
    color: white;
}

.image-creator {
    font-size: 1rem;
    color: white;
    margin-top: auto;
    text-align: center;
}

.right-side {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 0 10% 0 10%;
}

form {
    width: 100%;
}

.form-background {
    width: 100%;
    
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.3);
}

.inputs-container {
    display: flex;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
}